<div data-ng-controller="EventsController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">College Events</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll" data-ng-if="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-if="!authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-if="authentication.user.role == 'admin'">
                        <a href="/#!/events/create">Create</a>
                    </li>
                    <li class="page-scroll" data-ng-if="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.username" data-ng-if="authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section data-ng-init="find()">
        <div class="container">
            <h1>Events</h1>
			
			Show all events : <input type="checkbox" ng-click="viewall()" ng-model="viewall.showall">
			
			<br/>	
			<br/>	
			
            Show branch wise: <br/>
			<select ng-model="branch.selectedOption" ng-options="option.name for option in branch.availableBranch" required class="form-control">
			</select>
			
			<br/>		
			
            <ul>
                <li data-ng-repeat="event in events | filter: branch.selectedOption.name" ng-if="branch.selectedOption.name && event.branch || viewall.showall">
                    <a data-ng-href="#!/events/{{event._id}}" data-ng-bind="event.title" ng-class="event.branch?'branch':''"></a>
                    (<small data-ng-bind="event.created | date:'short'"></small>)
                    <br>

                    <small data-ng-bind="event.description" class="description"></small>
                </li>
            </ul>		
			
            <div data-ng-hide="!events || events.length">
                No Events yet, why don't you <a href="/#!/events/create">create one</a>?
            </div>
			
			
        </div>
    </section>
</div>