<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="script1.js"></script>
</head>
<body ng-controller="MainCtrl">
 <p align="left">ADMIN LOGIN</p>
<!-- Form to get username & Password -->
<form>
     <label align="left">Username
     <input type="text" ng-model="username"placeholder="More than 3 alphabets" class="form-control" ng-model="vm.user.username" ng-minlength="3" ng-maxlength="6" required />
    </label>
    <label align="left">Password:</label><input type="password" ng-model="password"></br>
    </label>
    <button  type="submit" ng-click="submit()">login</button>
</form>



</body>
</html>

