<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="script1.js"></script>
</head>
<body ng-controller="MainCtrl">
 <p align="left">ADMIN LOGIN</p>
<!-- Form to get username & Password -->
<form>
     <label align="left">Username
     <input type="text" ng-model="username"placeholder="More than 3 alphabets" class="form-control"  ng-minlength="3" ng-maxlength="6" required />
    </label>
    <label align="left">Password
            <input style="color: black" type="text" name="password" placeholder="password" class="form-control" required />
                </label>
                <p align="left">
           <button  type="submit" ng-click="submit()">login</button>

            <a href="Register.js" name="Register" class="style2" style="color: #FFFFFF"> Register</a>
        </p>
    
</form>

 <p align="left">ADMIN LOGIN</p>
<!-- Form to get member username & Password -->
<form>
     <label align="right">Username
     <input type="text" ng-model="username1"placeholder="More than 3 alphabets" class="form-control"  ng-minlength="3" ng-maxlength="6" required />
    </label>
    <label align="right">Password
            <input style="color: black" type="text" name="password1" placeholder="password" class="form-control" required />
                </label>
                <p align="right">
           <button  type="submit" ng-click="submit()">login</button>

            <a href="Register.js" name="Register1" class="style2" style="color: #FFFFFF"> Register</a>
        </p>
    
</form>


</body>
</html>

